<!doctype html>

    <html lang="en">

      <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <!-- Sttle CSS -->
        <link rel="stylesheet" href="./assets/css/style.css">

        <title>Vue | Dischi</title>

        <!-- Favicon -->
        <link rel="icon" href="./assets/img/icona_dischi.png" type="image/png" />

        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">

        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

      </head>

      <body class="bg_body">

        <div v-if="dischi.length" id="app">

          <header>

            <nav class="navbar bg_card mb-4">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">
                  <img src="./assets/img/icona_dischi.png" alt="" width="40" height="40" class="d-inline-block align-text-middle">
                </a>
              </div>
            </nav>

            <div id="seleziona" class="text-center mb-2">
              <label class="d-block mb-2 text-white-50" for="genere">Seleziona genere</label>
              <select name="genere" id="genere" v-model="genere">
                <option selected :value="generi">All</option>
                <option v-for="genere in generi" :value="genere">{{genere}}</option>   
              </select>
            </div>

          </header>
          
          <main>

            <div class="contenitore_card d-flex justify-content-center flex-wrap  mb-5">

              <div v-for="disco in ordinaPerData(dischi)" v-if="genere.includes(disco.genre)" class="card bg_card rounded-0 mt-4 mx-4 shadow-sm" style="width: 12rem;">
                <img style="width: 190px; height: 190px;" :src="disco.poster" class="card-img-top pt-3 px-3" alt="">
                <div class="card-body text-center">
                  <h4 class="card-title text-white">{{disco.title}}</h4>
                  <div class="card-text d-flex flex-column text-white-50">
                    <span>{{disco.author}}</span>
                    <span>{{disco.year}}</span>
                  </div>
                </div>
              </div>

            </div>
           
          </main>
  
          <footer></footer>

        </div>

        <!-- Optional JavaScript; choose one of the two! -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <script src="./assets/js/app.js"></script>

      </body>

    </html>